doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    script(href="/js/bootstrap.min.js")
    title= title
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark 
        span.navbar-brand Brewhive Deck
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarNav")
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="/") Home
    main
      div.container
        div.row
          div.col-sm-6.m-auto
            div.text-center.banner-wrapper
              img(src="/images/men_working.png", class="img-fluid")
              p
                em Under construction since 2020
